<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.demo.mapper.TestShardPageMapper">
  <select id="queryForListShardingPage" parameterType="java.util.HashMap" resultType="com.example.demo.demo.dto.TestVO">
    SELECT id,name,org_code orgCode FROM shard_test_${tableFix} where 1=1
    <if test="orgCode != null">
      and org_code=${orgCode}
    </if>
    <if test="minRow != null" >
      <if test="fetchNum != -1" >
        limit ${minRow},${fetchNum}
      </if>
    </if>
  </select>

  <select id="queryForListShardingCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    SELECT count(1) FROM shard_test_${tableFix} where 1=1
    <if test="orgCode != null">
      and org_code=${orgCode}
    </if>
  </select>
  <insert id="batchInsertSharding" parameterType="map">
    insert into shard_test_${tableFix}
    (name,org_code,cuser_id,ctime,uuser_id,utime)
    values
    <foreach collection="insertList" item="item" separator=",">
      (#{item.name},#{item.orgCode},'1001',now(),'1001',now()
      )
    </foreach>
  </insert>
</mapper>